.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}
.gallery--grid {
  padding: 0;
}
.galleryItem--normal {
  max-width: 25% !important;
}
.searchResultContainer {
  padding: 30px;
}
.orderByText {
  display: none;
}
/* ocultar filtros no necesarios */
.filter__container--color-hexadecimal{
  display: none;
}
.filter__container--category-4{
  display: none;
}
.filter__container--title {
  display: none;
}
.filter__container--brand{
  display: none;
}
.filter__container--meli-shipping-mode{
  display: none;
}
.filter__container--talla .filterContent {
  display: flex;
  flex-wrap: wrap;
}
.filter__container .filterContent :global(.vtex-checkbox__inner-container){
  display: none;
}
.filter__container .filterContent :global(.vtex-checkbox__container )::after{
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid;
  position: absolute;
}
.filter__container .filterContent :global(.vtex-checkbox__container){
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}
.filter__container--talla .filterContent :global(.vtex-checkbox__container ){
  display: none;
}

.filter__container--talla .filterContent :global(.vtex-checkbox__label){
  text-align: center;
  font-size: 12px;
}
.filter__container--talla .filterItem {
  width: 50px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top: 1px solid;
  margin: 1px;
  border: 1px solid;
}
.filterTitleSpan{
  font-size: 13px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .galleryItem--normal {
    max-width: 50% !important;
    padding: 0 3px;
  }
  .searchResultContainer{
    padding: 20px 0;
  }
}