.openIconContainer::before{
    content:"" ;
    background: url(/arquivos/menuOpen.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 30px;
    height: 26px;
}
.menuIcon{
    display: none;
}
.menuIcon {
    display: none;
}
.closeIconButton {
    top: -68px;
    z-index: 99999999;
    position: absolute;
    width: 51px;
    height: 47px;
    background: white;
}
.drawer {
    width: 100% !important;
    background: white;
    height: 100%;
    top: 69px;
}