.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}
/*Mod cami*/
.nameContainer {
  justify-content: flex-start;
  padding-top: 0;
  padding-bottom: 0 !important;
}
/*Mod cami*/

.brandName {
  font-weight: 300;
  font-size: 13px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}
.image {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #eeee;
  height: 100% !important;
}
.SKUSelectorContainer {
  position: absolute;
  top: 49%;
  width: 100%;
}
.productBrandContainer{
  text-align: left;
  color: #808080;
  font-size: 10px;
  margin-bottom: 9px;
}
.productNameContainer {
  text-align: left;
}
:global(.vtex-store-components-3-x-skuSelectorOptionsList ){
  justify-content: center;
}
:global(.vtex-store-components-3-x-skuSelectorTextContainer){
  text-align: center;
}
.element {
  position: relative;
}
.valueWrapper:global(.vtex-store-components-3-x-skuSelectorItemTextValue){
  font-size: 12px;
  padding: 11px;
}
.skuSelectorItem :global(.vtex-store-components-3-x-skuSelectorInternalBox){
  border-radius: 0;
}
.skuSelectorItem--selected :global(.vtex-store-components-3-x-skuSelectorInternalBox) .valueWrapper{
  background: red;
  color: white;
}
.skuSelectorItem--selected :global(.vtex-store-components-3-x-valueWrapper ){
  color: white;
}
.frameAround{
  border: 0;
}
.element  :global(.vtex-button){
  background: white;
  border: 2px solid #2A2A2A;
  transition: 400ms all;
  border-radius: 0;
}
.element  :global(.vtex-button):hover{
  background: #2A2A2A;
  border: 0;

}
.element  :global(.vtex-button):hover :global(.vtex-add-to-cart-button-0-x-buttonText){
  color: white;
}
/*Mod Cami*/
:global(.vtex-flex-layout-0-x-flexRow--productCartButton){
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.element:hover :global(.vtex-flex-layout-0-x-flexRow--productCartButton){
  opacity: 1;
  visibility: visible;
  position: relative;
  padding-bottom: 11px;
}

/*Mod Cami*/
.containerNormal {
  max-width: 100% !important;
}
.imageStackContainer {
  width: 100%;
  background: white;
}
.skuSelectorContainer {
  top: 46%;
  z-index: 99999;
  transition: 400ms all;
  opacity: 0;
  visibility: hidden;
}
.element:hover .skuSelectorContainer{
  opacity: 1;
  visibility: visible;
}
.clearLink:hover{
  box-shadow: 10px 5px 5px black;;
}
.imageContainer{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
:global(.vtex-flex-layout-0-x-flexRow--productCartButton){
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
:global(.vtex-flex-layout-0-x-flexCol--productinfo){
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.element:hover :global(.vtex-flex-layout-0-x-flexCol--productinfo){
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.element{
  position: relative;
}
.element :global(.vtex-wish-list-1-x-wishlistIconContainer){
  right: 10px;
  top: 10px;
  position: absolute;
  left: 132px;
  display: flex;
  justify-content: flex-end;
}
.element :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button){
  border: 0;
}
.element :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):hover{
  background: transparent;
}
.element :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button)::before{
  content: "";
  background: url(/arquivos/favoritos-nohover-batadev.png) no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  display: block;
}
.element :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):hover::before{
  content: "";
  background: url(/arquivos/favoritos-hover-batadev}.png) no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  display: block;
}
.element :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label){
  display: none;
}
.caretIcon {
  color: black;
}
.closeIcon {color: red;}
@media (max-width: 600px) {
  .nameContainer {
    overflow: hidden;
    height: 60px!important;
  }
  .SKUSelectorContainer {
    position: relative;
    bottom: 0;
    top: 0;
    width: 100%;
  }
  .skuSelectorContainer {
    top: 46%;
    z-index: 99999;
    transition: 400ms all;
    opacity: 1;
    visibility: visible;
    background-color: white;
  }
  .image {
    max-height: 194px !important;
    max-width: 163px !important;
  }
  .productBrand {
    font-size: 14px;
    font-weight: 200;
  }
  /*Mod Cami*/
  .skuSelectorContainer {
    min-height: 74px;
    overflow: hidden;
  }
  /*Mod Cami*/
  .productBrandContainer{
    background: white;
  }
  .productBrandName{
    color: #808080;
    font-size: 12px;
  }
  .productBrandName{
    text-align: center;
  }
  .productBrandContainer{
    display: flex;
    justify-content: center;
  }
  .productBrandName {display: block !important;}
}
