.homeIcon{
    display: none;
}
.homeLink::before{
    content: "Home";
    font-size: 11px;
    text-decoration: underline;
    color: #808080;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.link {
    font-size: 12px !important;
    text-decoration: underline;
}
.link {
    color: #808080;
    text-decoration: none;
    font-size: 11px;
    text-decoration: underline;
}
.link:hover {
    color: black;
}
:global(.vtex-flex-layout-0-x-flexRow--contendorProduct) .term{
    color: red;
    font-weight: bold;
    font-size: 11px;
}
:global(.vtex-flex-layout-0-x-flexRow--contendorProduct) .arrow{
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0 1px;
}
:global(.vtex-flex-layout-0-x-flexRow--contendorProduct) .arrow::before {
    content: "";
    background: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
}
:global(.vtex-flex-layout-0-x-flexRow--contendorProduct) .caretIcon{
    display: none;
}
:global(.vtex-flex-layout-0-x-flexRow--contendorProduct) .link.homeLink{
    padding-left: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--contendorProduct) .term {
    padding: 0;
}
@media (max-width: 700px) {
    .container {
        margin-top: 10px;
        padding: 0px;
    }
    :global(.vtex-flex-layout-0-x-flexRow--contendorProduct) .arrow::before {
        background: #2A2A2A;
    }
}