.label {
    font-size: 0;
    padding: 0;
}
.label::before{
    content: "";
    background: url(https://batanew.vteximg.com.br/arquivos/cuenta-nohover-new.png) no-repeat;
    background-size: 100%;
    width: 21px;
    height: 21px;
    display: block;
}
.label:hover::before{
    content: "";
    background: url(https://batanew.vteximg.com.br/arquivos/cuenta-hover.png) no-repeat;
    background-size: 100%;
    width: 21px;
    height: 21px;
    display: block;
}
:global(.vtex-button__label){
    padding: 0;
}
.container {
    justify-content: center;
}
.container :global(.vtex-button):hover{
    background: transparent;
}
.content--loginOptions {
    width: 410px;
}
.contentForm {
    width: 100%;
}
.loginOptionsContainer .formTitle{
    font-size: 0;
}
.formTitle{
    padding: 16px;
    background: #F3F3F3;
    border: 1px solid #D3D3D3;
    border-radius: 0;
}
.optionsListItem {
    margin-bottom: 15px;
    border-radius: 0;
}
.optionsListItem :global(.vtex-button){
    border-radius: 0;
    transition: 400ms all;
}
.accessCodeOptionBtn :global(.vtex-button){
    background: red;
}
.emailPasswordOptionBtn :global(.vtex-button){
    background: #2A2A2A;
}
.optionsListItem  :global(.vtex-button__label){
    color: white;
}

.loginOptionsContainer .formTitle::before{
    content: "Seleccione una de las opciones para confirmar su identidad";
    font-size: 12px;
    padding: 10px ;
}
.content--emailVerification .formTitle{
    font-size: 12px;
}
.sendButton :global(.vtex-button){
    background: red;
    border-radius: 0;
    border: 0;
    padding: 10px 36px;
}
.sendButton :global(.vtex-button__label){
    display: none;
}
.backButton :global(.vtex-button__label){
    color: black;
    font-weight: bold;
}
.forgotPasswordLink {
    color: black;
}
.dontHaveAccount {
    color: black;
}
.sendButton :global(.vtex-button)::before{
    content: "INICIAR SESIÓN";
    font-size: 13px;
}
@media (max-width: 600px) {
    .content--loginOptions {
        width: 93%;
        margin: 30px auto;
        box-shadow: 1px 3px 6px #d3d3d3;
    }
    
}