/* estillos del backgorund del template */
:global(.vtex-store__template) {
  background: #FAFAFA;
}
.container{
  max-width: 100%;
}
.notificationBarContainer {
  background-color: #F3F3F3;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

/* info card home */
.infoCardContainer--info-card-home {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  margin: 0 2% 40px 2%;
}
.infoCardImage--info-card-home{
  width: 100%;
  height: 100%;
}
.infoCardCallActionContainer--info-card-home :global(.vtex-button){
  background: #E60000;
  border: 0; 
  padding: 10px 40px;
  transition: 400ms all;
  border-radius: 0;
}
.infoCardCallActionContainer--info-card-home :global(.vtex-button):hover{
  background: white;
  border: 1px solid red;
  color: red;
}
.infoCardCallActionContainer--info-card-home :global(.vtex-button):hover :global(.vtex-button__label){
  color: red;
}
.infoCardCallActionContainer--info-card-home :global(.vtex-button__label){
  font-size: 13px;
}
.infoCardSubhead--info-card-home {
  padding: 0 40px;
}
/* estilos del buscador */
.searchBarContainer :global(.vtex-styleguide-9-x-input){
  background: rgb(247 247 247);
  color: #A3A3A3;
}
.searchBarContainer :global(.vtex-input__suffix){
  background: rgb(247 247 247);
  padding: 0 10px;
}
.searchBarIcon--search {
  padding: 0;
}
.searchBarContainer .searchIcon{
  color: #2A2A2A;
}
/* neswletter */
.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}
.discountInsideContainer {
  top: 10px;
  left: 10px;
  width: 50px;
  background: white;
  color: red;
  font-weight: bold;
  border: 2px solid red;
}
.discountContainer {
  width: 100%;
}
.productNameContainer{
  color: black;
}
.newsletter .container {
  padding: 60px 10px;
}
.imageElement--logosMediosPago {
  max-width: 370px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.imageElement--banner-item-footer {
  width: 311px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}
/* estilos imagens del menu */
.imageElement--imagen-Menu-1 {
  width: 90%;
  margin: 0 10px;
  height: 100%;
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  font-weight: bold;
  font-size: 30px;
}
:global(.vtex-flex-layout-0-x-flexColChild--coolumanDerecha) .skuSelectorOptionsList {
  justify-content: flex-start;
}
:global(.vtex-flex-layout-0-x-flexColChild--coolumanDerecha) .skuSelectorTextContainer {
  display: none;
}
.skuSelectorOptionsList .frameAround{
  border: 0;
}
.skuSelectorItem--selected .valueWrapper {
  background: #2A2A2A;
  border: 0;
}
.skuSelectorItem {
  margin: 0;
}
.skuSelectorInternalBox {
  border: 1px solid #D3D3D3;
}
.skuSelectorInternalBox {
  border-radius: 0;
}
.skuSelectorItem--selected .skuSelectorItemTextValue {
  color: white;
}
.skuSelectorItemTextValue {
  font-size: 12px;
  padding: 10px 25px;
}
.skuSelectorItemTextValue:hover{
  font-weight: bold;
}
.skuSelectorInternalBox:hover {
  border: 1px solid #D3D3D3;
}
.skuSelectorOptionsList {
  margin: 0;
}
.productImage{
  background: white;
  padding: 0 10px;
}
.productImagesGallerySwiperContainer .swiperPaginationClickable {
  display: none;
}
.imageElementLink--banner-item{
  display: flex;
  justify-content: center;
}
.imageElement--bannerIzquierdoLateral{
  height: 103% !important;
}
/*Mod cami*/
.imageElementLink--banner-item{
  display: block;
  overflow: hidden;
  margin: 0 5px 10px 5px;
}
/*Mod cami*/
.imageElement--banner-item {
  padding: 0;
  height: 96%;
  width: 100%;
}
.sizeDesktop {
  padding: 0;
}
/* estilos de iconos del header */
.imageElementLink--favoritos{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageElement--favoritos{
  width: 20px;
  height: 20px;
}
.imageElementLink--extrella{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageElement--extrella {
  width: 16px;
}
.imageElementLink--tiendas{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageElementLink--logo-footer{
  width: 50%;
  display: block;
}
.imageElement--banner-item-category{
  width: 100%;
}
/*Mod Cami*/
.imageElement--banner-item{
  height: 100%;
}
.searchBarIcon--search .searchIcon {
  display: none;
}
.searchBarIcon--search::before {
  content: "";
  background: url(/arquivos/buscador.png) no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  display: block;
}
.searchBarIcon--search:hover::before {
  content: "";
  background: url(/arquivos/buscador-hover.png) no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  display: block;
}
.searchBarContainer :global(.vtex-input-prefix__group){
  border: 1px solid #D3D3D3;
}
.imageElementLink--extrella .imageElement--extrella {
  display: none;
}
.imageElementLink--extrella::before {
  content: "";
  background: url(https://batanew.vteximg.com.br/arquivos/favoritos-75x75.png) no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  display: block;
}
.imageElementLink--extrella:hover::before {
  content: "";
  background: url(/arquivos/favoritos-hover-75x75.png) no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  display: block;
}
.imageElementLink--tiendas .imageElement--tiendas {
  display: none;
}
.imageElementLink--tiendas::before {
  content: "";
  background: url(/arquivos/ubicacion-nohoverbatadev.png) no-repeat;
  background-size: 100%;
  width: 22px;
  height: 22px;
  display: block;
}
.imageElementLink--tiendas:hover::before {
  content: "";
  background: url(/arquivos/ubicacion-hover-batadev.png) no-repeat;
  background-size: 100%;
  width: 22px;
  height: 22px;
  display: block;
}
/* Estilos hover imagenes slider categorias */
.imageElement--img-category-salider-item{
  transition: 400ms all;
  width: 100%;
  height: 100%;
}
.imageElementLink--img-category-salider-item{
  display: block;
  overflow: hidden;
  height: 100%;
}
:global(.vtex-flex-layout-0-x-flexCol--imagenesCategorias):hover .imageElement--img-category-salider-item{
  filter: brightness(0.5);
  transform: scale(1.1);
}
.imageElement--descuentoTop{
  width: 100%;
  margin-top: 30px;
}
.imageElement--bannerEstaticas{
  margin-bottom: 30px;
}
.infoCardCallActionContainer--info-card-calzado1 {
  display: none;
}
.infoCardImageContainer--info-card-calzado1  {
  width: 30%;
}
.infoCardTextContainer--info-card-calzado1 {
  width: 70%;
  padding-right: 60px;
}
.infoCardSubhead--info-card-calzado1 {
  line-height: 22px;
  color: #808080;
  font-size: 15px;
  
}
.infoCardHeadline--info-card-calzado1 {
  font-size: 20px;
  color: #2A2A2A;
  margin: 0;
}
.infoCardContainer--info-card-calzado1 {
  background-color: transparent;
  margin-top: 48px;
}