
.flexRow--productSpecificationGroupName {
  padding: 0.5rem 1rem;
}

.flexCol--productSpecificationName {
  padding: 1rem;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}
.flexRow--productSpecificationGroupName{
  display: none;
}
.flexCol--productSpecificationName  {
  padding: 5PX 0;
}
.flexCol--productSpecificationValue  {
  padding: 5px 0;
}
.flexRowContent--InformacionDos .stretchChildrenWidth .flexRow--productSpecificationGroup:last-child .flexColChild:last-child .flexRow--productSpecification:last-child .flexRowContent--productSpecification {
  display: block;
}