.summaryItemLabel--totalizer {font-size: 12px;font-weight: 700;}

.summaryItemPrice {font-size: 12px;}

.summarySmallDisclaimer {display: none;}

.summaryItemContainer.summaryItemContainer--totalizer {margin-bottom: 2px;padding-bottom: 0px;}
