.term.term--vitrinasBre {display: none;}

.caretIcon.caretIcon--vitrinasBre {display: none;}

.arrow.arrow--vitrinasBre.arrow--4.arrow--vitrinasBre--4 {display: block;padding: 0;}

.arrow--vitrinasBre {display: none;}

.homeLink--vitrinasBre {display: none;}

.link.link--vitrinasBre.link--4.link--vitrinasBre--4 {padding: 0;text-decoration: none;}

.container.container--vitrinasBre {margin: 0;padding: 0;}
