@font-face {
    font-family: 'Montserrat-bold';
    src: url(assets/fonts/Montserrat-black.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-regular';
    src: url(assets/fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-light';
    src: url(assets/fonts/Montserrat-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-medium';
    src: url(assets/fonts/Montserrat-Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-semiBold';
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-semiBold';
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');